:root {
  --bg-color: #1a303f;
  --bg-color2: #e6d6c1;
  --font-color: #2b505c;
  --hover-color: #333;
}

/* Konfigurasi Gaya Global */
body {
  font-family: Arial, sans-serif, "Poppins", sans-serif;
  background-color: var(--bg-color);
  min-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  color: var(--font-color);
}

/* Gaya Komponen */
.container {
  background-color: #fefe;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container label {
  margin-top: 20px;
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
}

td {
  padding: 10px;
  vertical-align: middle;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

input[type="submit"] {
  color: #fff;
  background-color: var(--bg-color);
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--hover-color);
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.alert.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.alert.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

/* Gaya Tabel */
table th,
table td {
  border: 1px solid var(--bg-color);
  text-align: left;
  padding: 10px;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table td .action-link {
  white-space: nowrap;
}

table a {
  text-decoration: none;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
  display: flex;
}

.action-link.edit {
  background-color: #4caf50;
}

.action-link.edit:hover {
  background-color: #388e3c;
}

.action-link.delete {
  background-color: #f44336;
}

.action-link.delete:hover {
  background-color: #d32f2f;
}

.action-buttons {
  display: flex;

  /* justify-content: flex-start; */
  /* flex-wrap: wrap; */
  height: 100%;
}
/* Gaya Admin */
.admin-container {
  width: 800px;
  margin: 50px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-header {
  text-align: center;
  margin-bottom: 20px;
}

.admin-header h3 {
  margin: 0;
  color: var(--font-color);
}

.admin-header hr {
  border: 0;
  height: 2px;
  background: var(--bg-color);
  width: 50%;
  margin: 10px auto;
}

.admin-menu {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 20px 0;
}

.admin-menu a {
  text-decoration: none;
  font-weight: 500;
  color: var(--font-color);
  padding: 10px 20px;
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  transition: 0.3s, color 0.3s;
}

.admin-menu a:hover {
  background: var(--hover-color);
  color: #ffffff;
}

/* Gaya Responsif */
@media (min-width: 769px) {
  .error-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .admin-container {
    display: none;
  }
}
