* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: none; */
}

body {
  overflow-x: hidden;
  background-color: #2d4354;
  margin: 0;
  font-family: sans-serif, Tahoma, Verdana;
}

/* Header Start */
header {
  overflow: hidden;
  position: relative;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-slide.no-cover img {
  object-fit: fill;
}

.caption {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 5px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

.caption h1 {
  font-size: 2.5em;
  margin: 0;
}

.caption p {
  font-size: 1em;
  margin: 5px 0 0;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 2em;
  z-index: 10;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Header End */

/* Main Start */

/* visi misi start */
.visi-misi {
  text-align: center;
  background-color: #2d4354;
  border-radius: 8px;
  padding: 2rem 2rem;
  margin: 2rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.judul {
  font-size: 2em;
  color: #dbc7af;
  text-align: center;
  margin-top: 2rem;
  animation: fadeIn 1.5s ease-out;
}

.isi {
  color: #fff3e5;
  font-size: 1.2em;
  line-height: 1.6;
  text-align: justify;
  animation: slideUp 1s ease-out;
}

.toggle-content {
  display: none;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background-color: #dbc7af;
  color: #2d4354;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-content:hover {
  background-color: #c0a98e;
}
/* visi misi end */

/* prestasi start */
.prestasi {
  width: 100%;
  height: 100vh; /* atau ukuran yang sesuai */
  background-image: url("../assets/home/background-home1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.sub-judul-prestasi {
  text-align: center;
}
.sub-judul-prestasi h1 {
  padding-top: 1em;
  color: #2d4354;
}

.sub-judul-prestasi p {
  padding: 1em 1em 0em 1em;
  font-size: 1em;
  color: #636a70;
}

.caption-prestasi {
  font-weight: 700;
  padding-top: 3em;
  font-size: 33px;
  display: grid;
  gap: 2em;
  color: #fff3e5;
  position: relative;
}

.caption-prestasi img {
  width: 600px;
  position: absolute;
  right: -8%;
  bottom: -50%;
  z-index: 999;
}

.caption-prestasi1 {
  font-size: 2rem;
  text-align: center;
  max-width: 500px;
  background-color: #73766a;
  padding: 5px 0px 5px 0px;
  position: relative;
  right: 10px;
  border-radius: 10px;
}

.caption-prestasi2 {
  max-width: 100%;
  background: linear-gradient(to right, #73766a, #fff3e5);
  padding: 5px 20px 5px 20px;
  position: relative;
  right: -200px;
  border-radius: 10px;
}
/* Prestasi End */
/* kegiatan start */
.kegiatan {
  width: 100%;
  height: 100vh; /* atau ukuran yang sesuai */
  background-image: url("../assets/home/background-home2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.sub-judul-kegiatan {
  padding-top: 1em;
  color: #2d4354;
  text-align: center;
  color: #fff3e5;
}

.caption-kegiatan {
  font-weight: 700;
  padding-top: 3em;
  font-size: 33px;
  display: grid;
  gap: 5em;
  position: relative;
  color: #2d4354;
}

.caption-kegiatan img {
  width: 1000px;
  position: absolute;
  bottom: -30%;
  z-index: 999;
}

.caption-kegiatan1 {
  font-size: 2rem;
  max-width: 100%;
  padding: 5px 10px 5px 20px;
  position: relative;
  right: -700px;
  border-radius: 10px;
  background: linear-gradient(to right, #fff9eb, #2d4354);
}

.caption-kegiatan2 {
  font-size: 2rem;
  text-align: end;
  max-width: 80%;
  background: linear-gradient(to right, #2d4354, #fff9eb);
  padding: 5px 20px 5px 10px;
  position: relative;
  right: 10px;
  border-radius: 10px;
}

.tentang-kami {
  padding: 10px 0px 10px 0px;
  text-align: center;
  background-color: #fff3e5;
  color: #2d4354;
}
.tentang-kami p {
  padding: 5px 10% 5px 10%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hide {
    display: none;
  }
  .caption-kegiatan1,
  .caption-prestasi2 {
    right: -5%;
  }
  .toggle-content {
    display: block;
  }
}
