* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: none; */
}

body {
  margin: 0;
  font-family: sans-serif, Tahoma, Verdana;
}

/* Navbar */
.navbar {
  background: #f0f0f07c;
  margin: 0;
  padding: 20px 30px;
}

.navbar h1 {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-navbar {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.menu-navbar ul {
  margin-left: auto;
}
.menu-navbar li {
  margin-left: 0;
  margin-right: 10px;
}

.menu-navbar li a {
  padding: 10px;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.tombol {
  display: none;
  font-size: 14pt;
}

.tombol:hover {
  cursor: pointer;
}
/* Navbar End */

/* Header Start */
header {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-slide {
  min-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-slide img {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 5px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.caption p {
  font-size: 0.5em;
}
/* Header End */

/* Main Start */
/*Visi dan Misi*/
.visiMisi {
  margin-top: 1em;
  text-align: center;
  padding: 0.5em 20%;
}
.visiMisi h1 {
  padding-top: 1em;
}

.visiMisi li {
  text-align: justify;
}

/* Tentang Kami */
.tentangKami {
  padding: 3rem;
  background-color: rgb(56, 56, 56);
}
.tentangKami h1 {
  color: #fff;
  text-align: center;
}
.content {
  display: flex;
  text-align: center;
  padding-top: 1rem;
  padding-right: 10%;
  padding-left: 10%;
}

.content img {
  background-color: beige;
  padding: 1em;
  width: 40%;
}

.content p {
  padding: 1em;
  background-color: rgb(48, 41, 41);
  color: white;
  padding-left: 2rem;
  text-align: justify;
}
hr {
  height: 0.2rem;
  margin: 0 auto;
  background-color: aqua;
  width: 20%;
}
/* Main END */
@media screen and (max-width: 768px) {
  .menu-navbar {
    display: none;
  }
  .menu-navbar.aktif {
    display: inline-block;
    position: absolute;
    top: 64px;
    padding: 10px 20px;
    right: 0;
    left: 0;
  }

  .menu-navbar.aktif li a {
    padding: 10px;
    display: inline-block !important;
  }

  .tombol {
    display: block;
  }

  .caption {
    font-size: 1.5em;
    padding: 8px 16px;
  }
}
